
on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    start pulldecryptfiles
    install_keyring
    setprop ro.build.system_root_image true
    setprop ro.hardware.bootctrl sdm660

    chmod 0777 /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

    start hwservicemanager
    start servicemanager

on property:ro.crypto.state=encrypted
    start sbinqseecomd

# Separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /sbin/qseecomd
    disabled
    user root
    group root
    seclabel u:r:recovery:s0
